#call{color:white;background-color:#2d2b46; }
        #call div{vertical-align: top; margin-top:50px;display: inline-block;margin-bottom: 50px;}
        #call div:first-child{margin-left: 15%; width:55%;}
        #call div:last-child div{text-align: center; margin:30px 0 30px 45%;}
        #call button:hover{ transition-duration:1s;background-color:rgb(27,177,220) ; border-color: rgb(27,177,220);}
        #call button
        {
            margin:0 auto;
            background-color:#2d2b46;
            border: 3px solid white;
            border-radius: 5px;
            color:white;
            font-size:20px;
            padding: 10px 15px;
            width:200px;
        }
        #p5_1{overflow:hidden;margin: 100px 15% 0 15%; }
        #p5_1> div{width: 50%; float:left;}
        #p5_1 div:first-child{marginright: 15px}
        #p5_1 div:last-child{marginleft: 15px}
        #p5_2 div:first-child{marginright: 15px}
        #p5_2 div:last-child{marginleft: 15px}
        #p5_2{overflow:hidden;margin: 100px 15%}
        #p5_2> div{width: 50%; float:left;}
        #p5_1 img{width: 100%}
        #p5_2 img{width: 100%}

        #p6{text-align: center; background-color: #f5f8fd; padding: 30px 5px;}
        #p6 h1{font-weight: bolder}
        #p6 ul{width:100%;}
        #p6 li{margin:10px; list-style: none; display: inline-block}
        #p6 li a{color: black; text-decoration: none;}
        #p6 li a:hover{color:rgb(27,177,220)}
        #p6 li:nth-child(4) a {color:rgb(27,177,220)}


        #image .wrap3{vertical-align: top;}
        #image .wrap3{display: inline-block; with:360 px;}
        #image .img_wrap{position: relative;margin :10px;}
        #image img{width: 360px; vertical-align: middle; margin-top: 20px}
        #image .img_hover{ position:absolute ;top: 50%; left: 50%; transform: translate( -50%, -50% );color:white; }
        #image .img_hover a{color:white; text-decoration: none ;font-weight: bold; font-size: 24px}
        #image .img_wrap:hover img{filter: brightness(50%); transition-duration: 1s}
        #image .img_hover{visibility: hidden;}
        #image .img_wrap:hover .img_hover{visibility: visible; z-index:1000;transition-duration: 1s;}
        #image .img_hover i{text-size:12px; border-radius:20px; background-color:rgb(27,177,220); padding:5px }
        #image .link_Text:hover{color:rgb(27,177,220); transition-duration:1s;}
        #image img:hover{ filter: brightness(50%)}
